@model IEnumerable<WilderExperience.Web.ViewModels.Administration.Users.UsersListViewModel>
@using WilderExperience.Web.ViewModels.Shared
@{
    ViewData["Title"] = "List";
}
@{int counter = 1; }
<h1>All Users</h1>

<a class="btn btn-primary mb-2" asp-action="Add">Add User</a>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                @Html.Partial("_SortingLinkPartial", new SortingLinkViewModel { Field = "Id" })
            </th>
            <th scope="col">
                @Html.Partial("_SortingLinkPartial", new SortingLinkViewModel { Field = "FirstName" })
            </th>
            <th scope="col">
                @Html.Partial("_SortingLinkPartial", new SortingLinkViewModel { Field = "LastName" })
            </th>
            <th scope="col">
                @Html.Partial("_SortingLinkPartial", new SortingLinkViewModel { Field = "UserName" })
            </th>
            <th scope="col">
                @Html.Partial("_SortingLinkPartial", new SortingLinkViewModel { Field = "Email" })
            </th>
            <th scope="col">
                @Html.Partial("_SortingLinkPartial", new SortingLinkViewModel { Field = "DeletedOn" })
            </th>
            <th scope="col">
                Modify
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@(counter++)</th>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.IsDeleted</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                </td>
            </tr>
        }

    </tbody>

</table>

@Html.Partial("_PaginationPartial")