@model IEnumerable<WilderExperience.Web.ViewModels.Comments.CommentViewModel>

@{
    ViewData["Title"] = "Default";
}

<form asp-controller="Comments" asp-action="AddComment" method="post">
    <input type="hidden" name="ExperienceId" value="@this.ViewData["experienceId"]" />
    <input type="hidden" name="ParentId" value="0" />
    <div>
        <label for="Content"></label>
        <textarea name="Content" id="Content" class="form-control"></textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-primary ajax-submit-btn" value="Add comment" />
    </div>

</form>


@{
    async Task RenderComment(IEnumerable<WilderExperience.Web.ViewModels.Comments.CommentViewModel> comments)
    {
        @foreach (var comment in comments)
        {
            <div class="media">
                <img class="align-self-start mr-3" src="/img/avatar.jpg" alt="image">
                <div class="media-body">
                    <h5 class="mt-0">@comment.AuthorUsername</h5>
                    <div class="pull-right">
                        <h6 class="text-muted text-right">@comment.CreatedOn</h6>
                        <button class="btn btn-info btn-link pull-right " data-toggle="collapse" data-target="#collapseExample@(comment.Id)" aria-expanded="false" aria-controls="collapseExample@(comment.Id)"> <i class="fa fa-reply"></i> Reply</button>
                        @if (this.User.Identity.Name == comment.AuthorUsername || this.User.IsInRole(WilderExperience.Common.GlobalConstants.AdministratorRoleName))
                        {
                            <button type="button" class="btn btn-danger btn-link pull-right " data-toggle="modal" data-target="#deleteModal">
                                &times; Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title position-fixed" id="deleteModalLabel">Delete Comment</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete your comment
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form asp-controller="Comments" asp-action="Delete" method="post">
                                                <input type="hidden" name="id" value="@comment.Id" />
                                                <input type="hidden" name="experienceId" value="@comment.ExperienceId" />
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <p class="overflow-hidden wrap-fix">@comment.Content</p>

                        
                    <div class="children">

                        <div class="media">
                            <img class="align-self-start mr-3 dummy-image" src="/img/avatar.jpg" alt="image">

                        </div>
                        <form asp-controller="Comments" asp-action="AddComment" method="post" class="collapse" id="collapseExample@(comment.Id)">
                            <input type="hidden" name="ExperienceId" value="@Model.FirstOrDefault().ExperienceId" />
                            <input type="hidden" name="ParentId" value="@comment.Id" />
                            <div>
                                <label for="Content"></label>
                                <textarea name="Content" id="Content" class="form-control"></textarea>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary  ajax-submit-btn ajax-submit-btn-collapsable" value="Add comment" />
                            </div>
                        </form>
                        @{
                            var children = Model.Where(x => x.ParentId == comment.Id).OrderByDescending(x => x.CreatedOn).ToList();
                            if (children.Count() > 0)
                            {
                                await RenderComment(children);
                            }
                        }
                    </div>
                </div>
            </div>
        }
    }
}
@{await RenderComment(Model.Where(x => x.ParentId == 0).OrderByDescending(x => x.CreatedOn));}

    @*<div class="row">
            <div class="comments media-area col-12">
                <h3 class="text-center">Comments</h3>
                <partial name="_CommentPartial" for="Comments">
            </div>

        </div>*@


