@using WilderExperience.Web.Infrastructure;
@using WilderExperience.Web.ViewModels.Shared
@{
    ViewData["Title"] = "List";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.Partial("_SortingLinkPartial", new SortingLinkViewModel { Field = "Location" })
            </th>
            <th scope="col">
                @Html.Partial("_SortingLinkPartial", new SortingLinkViewModel { Field = "Title" })
            </th>
            <th scope="col">
                @Html.Partial("_SortingLinkPartial", new SortingLinkViewModel { Field = "Rating" })
            </th>
            <th scope="col">
                @Html.Partial("_SortingLinkPartial", new SortingLinkViewModel { Field = "CreatedOn" })
            </th>
            <th scope="col">Modify</th>
        </tr>
    </thead>
    @Html.DisplayForModel()
</table>


@Html.Partial("_PaginationPartial")