@model WilderExperience.Web.ViewModels.Experiences.ExperienceDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="card mb-3">
    <div class="card-body">
        <h2 class="card-title"><strong>@Model.Title</strong></h2>
        <p class="card-text">@Html.Raw(Model.SanitizedDescription)</p>
        @if (Model.ModifiedOn == null)
        {
            <p class="card-text"><small class="text-muted">Created @Model.CreatedOn</small></p>
        }
        else
        {
            <p class="card-text"><small class="text-muted">Updated on @Model.ModifiedOn</small></p>
        }
        <div id="lightgallery" class="row">
            @foreach (var image in Model.Images)
            {
                <a href="~/uploads/experiences/@image.Name" class="col-md-3 p-0">
                    <img src="~/uploads/experiences/@image.Name" class="experience-details-thumb" />
                </a>
            }

        </div>
    </div>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
     <a asp-action="List" asp-route-locationName=@this.ViewData["locationName"]>Back to List</a>
    
</div>
