@model WilderExperience.Web.ViewModels.Experiences.ExperiencesEnumerableViewModel

@{
    ViewData["Title"] = "List";
}

@if (Model.List.Any() == false)
{
    <div>
        <h1 class="title">No Experiences For This Location Yet!</h1>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <h1 class="title fancy-title w-100 text-center">@this.ViewData["locationName"]</h1>
        </div>
        <div class="row">
            @foreach (var item in Model.List)
            {
                <div class="col-md-6 experience-list">
                    <div class="card card-blog text-center">
                        <div class="card-body">
                            <div class="card-image ">
                                @if (item.Image == null)
                                {
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        <img class="img img-fluid image-list" src="~/uploads/experiences/notAvailable.jpg">
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        <img class="img img-fluid image-list" src="~/uploads/experiences/@item.Image.Name">
                                    </a>
                                }
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-warning">Travel</h6>
                                <h3 class="card-title">
                                    <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                                </h3>
                                <p class="card-description">
                                    @item.ShortDescription
                                </p>
                                <br>
                                <a class="btn btn-outline-default btn-round" asp-action="Details" asp-route-id="@item.Id">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<a class="btn btn-primary" asp-action="Create" asp-route-locationId="@Model.LocationId">Add Experience</a>
