@model WilderExperience.Web.ViewModels.Shared.ExperienceViewModel
@{
    ViewData["Title"] = "ExperiencesList";
}

    <tr>
        <td>@Model.LocationName</td>
        <td>@Model.Title</td>
        <td>@Model.AverageRating</td>
        <td>@Model.CreatedOn</td>
        <td>
            <a asp-area="" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-area="" asp-action="Details" asp-route-id="@Model.Id">Details</a> |
            <a asp-area="" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </td>
    </tr>
